<%= simple_form_for @feeling do |f| %>

    <br>
    <% if @is_new %>
        <%= f.input :super_category, label: false, collection: @super_categories, as: :radio_buttons %>
    <% else %>
        <br>
        <%= f.input :super_category, label: false, collection: @super_categories, as: :radio_buttons, input_html: {value: f.object.super_category} %>
        <br>
        <h4>어떤 종류의 느낌이야?</h4>
        <%= f.input :category, label: false, collection: @categories, as: :radio_buttons %>

        <% if @feelings %>
            <br>
            <h4>더 자세히 말해줄래?</h4>
            <%= f.input :vfeeling, label: false, collection: @feelings, as: :radio_buttons %>
            <br>
            <h4>좀 더 이야기 할래?</h4>
            <%= f.input :note, label: false, as: :text, input_html: { :rows => 3, :cols => 30 }  %>
            <br>
            <%= f.button :submit %>
        <% end %>
    <% end %>
    <br>
<% end %>
