<h1>Listing feelings</h1>

<% @feelings.each do |feeling| %>
    <%= distance_of_time_in_words( Time.now, feeling.created_at) %> ago
    <table>
      <tr class="command_row"><td>
        <%= link_to 'Show', feeling %>
        <%= link_to 'Edit', edit_feeling_path(feeling) %>
        <%= link_to 'Destroy', feeling, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td></tr>
      <tr class="content_row"><td>
        <%= feeling.feeling_card.title %>
        (<%= feeling.note %>)
      </td></tr>

      <tr class="content_row"><td>
        <strong>욕구:</strong>
        <% feeling.needs.each do |need| %>
            <%= render 'needs/show', need: need %><br><br>
        <% end %>
      </td></tr>
    </table>
    <br><br>
<% end %>

<%= link_to 'New Feeling', new_feeling_path %>
<br>
