<p id="notice"><%= notice %></p>

<p>
  <strong>Feeling card:</strong>
  <%= @feeling.feeling_card %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @feeling.experience %>
</p>

<p>
  <strong>Note:</strong>
  <%= @feeling.note %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @feeling.deleted_at %>
</p>

<%= link_to 'Edit', edit_feeling_path(@feeling) %> |
<%= link_to 'Back', feelings_path %>
