<%= simple_form_for @need do |f| %>
    <%= f.hidden_field :feeling_id, value: @feeling_id %>
    <br>
    <h4>무엇이 중요하기에?</h4>
    <%= f.input :category, label: false, collection: @categories, as: :radio_buttons %>
    <% if @needs %>
        <br>
        <h4>더 자세히 말해줄래?</h4>
        <%= f.input :vneed, label: false, collection: @needs, as: :radio_buttons %>
        <br>
        <h4>좀 더 이야기 할래?</h4>
        <%= f.input :note, label: false, as: :text, input_html: { :rows => 3, :cols => 30 }   %>
        <br>
        <%= f.button :submit %>
    <% end %>
    <br>
<% end %>
