<h1>Listing needs</h1>

<% @needs.each do |need| %>
    <%= distance_of_time_in_words( Time.now, need.created_at) %> ago
    <table>
      <tr class="command_row"><td>
        <%= link_to 'Show', need %>
        <%= link_to 'Edit', edit_need_path(need) %>
        <%= link_to 'Destroy', need, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td></tr>
      <tr class="content_row"><td>
        <%= need.need_card.title %>
        (<%= need.note %>)
      </td></tr>
    </table>
    <br>
<% end %>

<br>

<%= link_to 'New Need', new_need_path %>
