<%= form_for(@feeling_card) do |f| %>
  <% if @feeling_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeling_card.errors.count, "error") %> prohibited this feeling_card from being saved:</h2>

      <ul>
      <% @feeling_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :super_category %><br>
    <%= f.text_field :super_category %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
