<%= simple_form_for(@experience) do |f| %>
    <br>
    <h4>(평가나 의견을 배제한) 상황은 어땠어?</h4>
    <%= f.input :observation, label: false, as: :text, input_html: { :rows => 3,  :cols => 30 } %>
    <br>
    <h4>자신에게 어떻게 했으면.. 요청하는게 있어?</h4>
    <%= f.input :request, label: false, as: :text, input_html: { :rows => 3, :cols => 30 }  %>
    <br>
    <h4>더 할말이 있어?</h4>
    <%= f.input :memo, label: false, as: :text, input_html: { :rows => 3, :cols => 30 }  %>
    <%= f.button :submit %>
<% end %>
