<h1>Listing experiences</h1>

<% @experiences.each do |experience| %>
    <%= distance_of_time_in_words( Time.now, experience.created_at) %> ago
    <table>
  <tr class="command_row"><td>
    <%= link_to 'Show', experience %>
    <%= link_to 'Edit', edit_experience_path(experience) %>
    <%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td></tr>
  <tr class="content_row"><td><%= experience.observation %></td></tr>
      <tr class="content_row"><td>
          <% experience.feelings.each do |feeling| %>
              <%= render 'feelings/show', feeling: feeling %><br><br>
          <% end %>
      </td></tr>
      <tr class="content_row"><td><%= experience.request %></td></tr>
  <tr class="content_row"><td><%= experience.memo %></td></tr>
</table>
    <br>
<% end %>

<br>
