<p id="notice"><%= notice %></p>

<p>
  <strong>Observation:</strong>
  <%= @experience.observation %>
</p>

<strong>느낌 & 욕구:</strong><br>
<% @experience.feelings.each do |feeling| %>
    <%= render 'feelings/show', feeling: feeling %><br><br>
<% end %>

<p>
  <strong>Request:</strong>
  <%= @experience.request %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @experience.memo %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
